<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="clj-xpath: Simplified XPath for Clojure" />

    <link rel="stylesheet" type="text/css" media="screen" href="/clj-xpath/site/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/clj-xpath/site/css/transition.js.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/clj-xpath/site/css/pygments.css">

    <title>{{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/kyleburton/clj-xpath">View on GitHub</a>

          <h1 id="project_title"><a href="/clj-xpath/">clj-xpath</a></h1>
          <h2 id="project_tagline">Simplified XPath for Clojure</h2>

          {% if page.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/kyleburton/clj-xpath/archive/master.zip">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/kyleburton/clj-xpath/archive/master.tar.gz">Download this project as a tar.gz file</a>
            </section>
          {% endif %}

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">

      {% if page.navigation == 'documentation' %}
        <section id="nav-documentation" class="inner">
          <a href="/clj-xpath/site/documentation">Documentation</a>
        </section>
      {% endif %}

      <section id="main_content" class="inner">
      {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">cl-xpath maintained by <a href="https://github.com/kyleburton">kyleburton</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
